<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>DC Android</h2>
        <p>
          DC Android (DCA) is a group of professional Android developers and designers in the DC Area. This meetup brings technical people together to know each other face to face, share experiences, and further our knowledge of the Android platform. From Phones to Tablets to Auto to Wear to TV to infinity and beyond!
        </p>
      </div>
      <div class="col-md-3">
        <h2>Slack</h2>
          <p>DCTech Slack, channel #android</p>
          <p><a class="btn btn-default btn-lg" href="https://dctech.slack.com" role="button">
              DCTech Slack &raquo;</a></p>
          <p><a class="btn btn-default btn-lg" href="http://dctechslack.herokuapp.com/" role="button">Slack Signup &raquo;</a></p>
      </div>
      <div class="col-md-3">
        <h2>Links</h2>
        <p><a class="btn btn-default btn-lg" href="http://www.meetup.com/DCAndroid" role="button"><i class="fa fa-calendar"></i>  Meetup</a></p>
        <p><a class="btn btn-default btn-lg" href="http://www.twitter.com/DCAndroid" role="button"><i class="fa fa-twitter"></i>  Twitter</a></p>
        <p><a class="btn btn-default btn-lg" href="https://github.com/DCAndroid" role="button"><i class="fa fa-github-alt"></i>  GitHub</a></p>
      </div>
    </div>
  </div>
</div>
