<article id="events" class="main-events">
  <header>
    <h1>Upcoming Events</h1>
  </header>
  <section class="main-content">
    <div id="dcandroid-meetup-card-collection" data-component="meetup-card-collection" data-meetup-card-max-return="5" data-meetup-card-url="http://api.meetup.com/2/events/?key=3c246579397a3949346c3f53136852&group_urlname=DCAndroid&status=upcoming&order=time&limited_events=false&desc=false&callback=JSON_CALLBACK&offset=0&format=json&page=200&fields="></div>
  </section>
</article>
